.title{
    color: #fff;
    position: relative;
    z-index: 101;
}

.section-header h2{
    color: #fff;
}

.testi{
    text-align: justify;
}

.container{
    color: #fff;
    position: relative;
    z-index: 101;
}