.services .service-item:hover{
    background: none;
    
 
}
.services .service-item
{
    background: #746260;
}
.container{
    color: #fff;
    position: relative;
    z-index: 101;
}